<nav class="navbar">
  <div class="container">
    <div class="flex justify-between items-center">
      <a class="logo" href="#">Logo</a>
      <div class="menu">
        <a routerLink="/dashboard" routerLinkActive="active">Home</a>
        <a routerLink="/product/{{customerId}}" routerLinkActive="active">Product</a>
        <a routerLink="/account" routerLinkActive="active">Account</a>
        <div class="cart">
          <a routerLink="/cart" routerLinkActive="active"><span class="material-symbols-outlined">shopping_cart_checkout</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
