<div class="container">
  <div class="form-wrapper">
    <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
      <h1 class="title">Log in to Ape Kade</h1>
      <div class="mb-4">
        <label class="label" for="txtUName">Username</label>
        <input id="txtUName" formControlName="txtUName" class="input" type="text" placeholder="Username or email">
      </div>
      <div class="mb-6">
        <label class="label" for="txtPass">Password</label>
        <input id="txtPass" formControlName="txtPass" class="input" type="password" placeholder="Password">
      </div>
      <div class="flex items-center justify-between">
        <button class="button" type="submit">Sign in</button>
        <a class="link" href="#">Forgot password?</a>
      </div>
    </form>
    <p class="text-center mt-4">
      Don't have an account?
      <a class="link" routerLink="/signup">Sign up</a>
    </p>
    <a class="github-link mt-4" href="https://github.com/login/oauth/authorize">
      <img class="github-logo" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo">
      Sign in with GitHub
    </a>
  </div>
</div>
